<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/img/logo/logo-color.svg">
        <span class="title">model2code</span>
      </div>
      <div class="desc">模型化全栈代码生成工具</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="//github.com/qy8502" target="_blank"> QuYankai </a>出品
    </global-footer>
  </div>
</div>
